<a href="https://colab.research.google.com/github/choejeongsik/python-lecture/blob/main/day1_python_lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Day** **1** 자료형, 변수, 출력

# 실습

In [ ]:
studentnum=2017113086
print(studentnum)

x=5
y=6
print(x+y)

x=10
y=11
print(x+y,x+y)

In [ ]:
x=input()
print(x)

x=input('문자를 입력히세요')
print(x)

x=int(input())
print(x)

In [ ]:
list1=[]
list2=[1,2,3]
list3=[1,2,3,['life', 'good']]

print(list1)
print(list2)
print(list3)


print(list2[2])
print(list3[2], list3[3][0][1])

list2[0]=99
print(list)

list4=[11, 22, 33, 44]
print(list4)

list4[1:3]=[55,77]
print(list4)

list4.sort(reverse=True)
print(list4)

# Example

Example1

학번을 출력해 보시오

In [ ]:
studentnum=2017113086
print(studentnum)

Example2

x에는 5를 넣고, y에는 6일 대입하고 합만을 출력하시오.

In [7]:
x=5
y=6
print(x+y)

11

Example3

x와 y에 값을 입력받고 합과 곱을 출력하시오.

In [8]:
x=int(input())
y=int(input())

print(x+y)
print(x*y)

11
23
34
253

Example4

하나의 문자열을 입력받고 출력하는 프로그램을 생성하시오.

In [ ]:
x=input()
print(x)

Example5

공백 2개이상의 문장을 입력 받고 이를 공백을 기준으로(단어별) 구분하여 출력하시오.

In [7]:
x=input()
xword=x.split( )
print(xword)

adsf adf eref
['adsf', 'adf', 'eref']
['adsf']